
* {
    margin: 0px;
    padding: 0px;
}
#body {
    background-image: url("/static/images/background.png" );
    background-size: cover;
    width: 1500px;
    height: 1000px;
    position: relative;
            top: -20px;
    }
    
        
#tab1, #tab2 {
    width: 1200px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin: 40px;
    position: relative;
    left: 280px;
    top: 170px;
    }
#tab1 > div{
    width: 320px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    float: left;
    margin-right: 60px;
    }
#tab2 > div{
    width: 320px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    float: left;
    margin-right: 60px;
}
img {
    object-fit: cover;
    width: 320px;
    height: 200px;
    border-radius: 10px;
}
        
img:hover {
    object-fit: cover;
    width: 360px;
    height: 240px;
    border-radius: 10px;
}

p {
    font-size: 14pt;  
}
.category {
            padding-top: 6px;
            font-weight: 800;
}
   