<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/projectcss.css' %}">
</head>
<body>
    <div>
        <a href="인덱스로?">
            <img src="{% static 'images/youtubetop.PNG' %}" alt="유튜브 상위" width="1520px" height="80px">
        </a>
    </div>
    <div class="all">
        <div class="left">
            <ul>
                <div>
                    <div id="background">
                        <img src="{% static 'images/graph1.PNG' %}" alt="화면에 나올 그래프" width="770" height="430" id="backimg">
                    </div>
                </div>
                <div>
                    <h2>들어갈 제목</h2>
                    <div class="title">
                        <p>
                            <img src="{% static 'images/logo1.PNG' %}" alt="로고" width="50px" height="50px">
                        </p>
                        <p>
                            <a id="name">3조이름</a>
                        </p>
                        <p>                
                            <img src="{% static 'images/gudok.PNG' %}" alt="구독" width="800px" height="50px">
                        </p>                     
                    </div>
                </div>
            </ul> 
        </div>
        <div class="right">
            <div class="right01">
                <a href="">
                    <div class="right011">
                        <img src="{% static 'images/graph1.PNG' %}" alt = "다음 나올 그래프"width="150px" height="120px">
                    </div>
                    <div class="left011">
                        <p>--3조 다음 그래프--</p>
                        <span>--3조 이름--</span><br>
                        <span>--조회수 : 4434</span>
                    </div>
                </a>
                <a href="">
                    <div class="right011">
                        <img src="{% static 'images/graph1.PNG' %}" width="150px" height="120px">
                    </div>
                    <div class="left011">
                        <p>--3조 다음 그래프--</p>
                        <span>--3조 이름--</span><br>
                        <span>--조회수 : 4434</span>
                    </div>
                </a>
                <a href="">
                    <div class="right011">
                        <img src="{% static 'images/graph1.PNG' %}" width="150px" height="120px">
                    </div>
                    <div class="left011">
                        <p>--3조 다음 그래프--</p>
                        <span>--3조 이름--</span><br>
                        <span>--조회수 : 4434</span>
                    </div>
                </a>
                <a href="">
                    <div class="right011">
                        <img src="{% static 'images/graph1.PNG' %}" width="150px" height="120px">
                    </div>
                    <div class="left011">
                        <p>--3조 다음 그래프--</p>
                        <span>--3조 이름--</span><br>
                        <span>--조회수 : 4434</span>
                    </div>
                </a>
            </div>
          
        </div>
    </div>
    
</body>
</html>